<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Tài Khoản - Pro Dashboard</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../fonts/remixicon/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/titlebar.css">
</head>

<body oncontextmenu="return false;">
    <div id="titlebar">
        <div id="main-account-tab" class="account-tab active">
            <i class="ri-facebook-circle-fill text-blue-400"></i>
            <span class="tab-title">Accounts</span>
        </div>
        <div class="tabs-container">
            <!-- Dynamic tabs start here -->

        </div>
        <div class="titlebar-drag-region">
        </div>

        <div class="window-controls">
            <button class="control-btn" id="min-btn">
                <i class="ri-subtract-line"></i>
            </button>
            <button class="control-btn" id="max-btn">
                <i class="ri-checkbox-blank-line"></i>
            </button>
            <button class="control-btn close-btn" id="close-btn">
                <i class="ri-close-line"></i>
            </button>
        </div>
    </div>

    <script src="../js/titlebar.js"></script>

</body>

</html>